* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 30px auto;
    background-image: url("rick.jpeg");
    background-size: 1590px 760px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#resultado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 60px 10px;
}